<nav class="systems-subnav">
  <a href="/pl/metody/euler/"   {% if page.url == '/pl/metody/euler/' %}class="active"{% endif %}>Euler</a>
  <a href="/pl/metody/heun/"    {% if page.url == '/pl/metody/heun/' %}class="active"{% endif %}>Heun</a>
  <a href="/pl/metody/rk4/"     {% if page.url == '/pl/metody/rk4/' %}class="active"{% endif %}>RK4</a>
  <a href="/pl/metody/rkf45/"   {% if page.url == '/pl/metody/rkf45/' %}class="active"{% endif %}>RKF45</a>
  <a href="/pl/metody/dp5/"     {% if page.url == '/pl/metody/dp5/' %}class="active"{% endif %}>DP5</a>
</nav>
