<nav class="systems-subnav">
  <a href="/en/systems/arneodo/"                {% if page.url == '/en/systems/arneodo/' %}class="active"{% endif %}>Arneodo</a>
  <a href="/en/systems/burke-shaw/"             {% if page.url == '/en/systems/burke-shaw/' %}class="active"{% endif %}>Burke–Shaw</a>
  <a href="/en/systems/chen/"                   {% if page.url == '/en/systems/chen/' %}class="active"{% endif %}>Chen</a>
  <a href="/en/systems/chua/"                   {% if page.url == '/en/systems/chua/' %}class="active"{% endif %}>Chua</a>
  <a href="/en/systems/dadras/"                 {% if page.url == '/en/systems/dadras/' %}class="active"{% endif %}>Dadras</a>
  <a href="/en/systems/halvorsen/"              {% if page.url == '/en/systems/halvorsen/' %}class="active"{% endif %}>Halvorsen</a>
  <a href="/en/systems/hindmarsh-rose/"         {% if page.url == '/en/systems/hindmarsh-rose/' %}class="active"{% endif %}>Hindmarsh-Rose</a>
  <a href="/en/systems/langford/"               {% if page.url == '/en/systems/langford/' %}class="active"{% endif %}>Langford</a>
  <a href="/en/systems/li/"                     {% if page.url == '/en/systems/li/' %}class="active"{% endif %}>Li</a>
  <a href="/en/systems/lorenz/"                 {% if page.url == '/en/systems/lorenz/' %}class="active"{% endif %}>Lorenz</a>
  <a href="/en/systems/lotka-volterra/"         {% if page.url == '/en/systems/lotka-volterra/' %}class="active"{% endif %}>Lotka–Volterra</a>
  <a href="/en/systems/lu/"                     {% if page.url == '/en/systems/lu/' %}class="active"{% endif %}>Lü</a>
  <a href="/en/systems/newton-leipnik/"         {% if page.url == '/en/systems/newton-leipnik/' %}class="active"{% endif %}>Newton–Leipnik</a>
  <a href="/en/systems/nose-hoover/"            {% if page.url == '/en/systems/nose-hoover/' %}class="active"{% endif %}>Nosé–Hoover</a>
  <a href="/en/systems/rabinovich-fabrikant/"   {% if page.url == '/en/systems/rabinovich-fabrikant/' %}class="active"{% endif %}>Rabinovich–Fabrikant</a>
  <a href="/en/systems/rikitake/"               {% if page.url == '/en/systems/rikitake/' %}class="active"{% endif %}>Rikitake</a>
  <a href="/en/systems/rossler/"                {% if page.url == '/en/systems/rossler/' %}class="active"{% endif %}>Rössler</a>
  <a href="/en/systems/shimizu-morioka/"        {% if page.url == '/en/systems/shimizu-morioka/' %}class="active"{% endif %}>Shimizu–Morioka</a>
  <a href="/en/systems/sprott/"                 {% if page.url == '/en/systems/sprott/' %}class="active"{% endif %}>Sprott</a>
  <a href="/en/systems/thomas/"                 {% if page.url == '/en/systems/thomas/' %}class="active"{% endif %}>Thomas</a>
</nav>
