<nav class="systems-subnav">
  
  <a href="/pl/systemy/arneodo/"                {% if page.url == '/pl/systemy/arneodo/' %}class="active"{% endif %}>Arneodo</a>
  <a href="/pl/systemy/burke-shaw/"             {% if page.url == '/pl/systemy/burke-shaw/' %}class="active"{% endif %}>Burke–Shaw</a>
  <a href="/pl/systemy/chen/"                   {% if page.url == '/pl/systemy/chen/' %}class="active"{% endif %}>Chen</a>
  <a href="/pl/systemy/dadras/"                 {% if page.url == '/pl/systemy/dadras/' %}class="active"{% endif %}>Dadras</a>
  <a href="/pl/systemy/dequan-li/"              {% if page.url == '/pl/systemy/dequan-li/' %}class="active"{% endif %}>Dequan–Li</a>
  <a href="/pl/systemy/hadley/"                 {% if page.url == '/pl/systemy/hadley/' %}class="active"{% endif %}>Hadley</a>
  <a href="/pl/systemy/halvorsen/"              {% if page.url == '/pl/systemy/halvorsen/' %}class="active"{% endif %}>Halvorsen</a>
  <a href="/pl/systemy/langford/"               {% if page.url == '/pl/systemy/langford/' %}class="active"{% endif %}>Langford</a>
  <a href="/pl/systemy/lorenz/"                 {% if page.url == '/pl/systemy/lorenz/' %}class="active"{% endif %}>Lorenz</a>
  <a href="/pl/systemy/lotka-volterra/"         {% if page.url == '/pl/systemy/lotka-volterra/' %}class="active"{% endif %}>Lotka–Volterra</a>
  <a href="/pl/systemy/lu/"                     {% if page.url == '/pl/systemy/lu/' %}class="active"{% endif %}>Lü</a>
  <a href="/pl/systemy/newton-leipnik/"         {% if page.url == '/pl/systemy/newton-leipnik/' %}class="active"{% endif %}>Newton–Leipnik</a>
  <a href="/pl/systemy/nose-hoover/"            {% if page.url == '/pl/systemy/nose-hoover/' %}class="active"{% endif %}>Nosé–Hoover</a>
  <a href="/pl/systemy/rabinovich-fabrikant/"   {% if page.url == '/pl/systemy/rabinovich-fabrikant/' %}class="active"{% endif %}>Rabinovich–Fabrikant</a>
  <a href="/pl/systemy/rikitake/"               {% if page.url == '/pl/systemy/rikitake/' %}class="active"{% endif %}>Rikitake</a>
  <a href="/pl/systemy/rossler/"                {% if page.url == '/pl/systemy/rossler/' %}class="active"{% endif %}>Rössler</a>
  <a href="/pl/systemy/shimizu-morioka/"        {% if page.url == '/pl/systemy/shimizu-morioka/' %}class="active"{% endif %}>Shimizu–Morioka</a>
  <a href="/pl/systemy/sprott-b/"               {% if page.url == '/pl/systemy/sprott-b/' %}class="active"{% endif %}>Sprott B</a>
  <a href="/pl/systemy/sprott-d/"               {% if page.url == '/pl/systemy/sprott-d/' %}class="active"{% endif %}>Sprott D</a>
  <a href="/pl/systemy/sprott-e/"               {% if page.url == '/pl/systemy/sprott-e/' %}class="active"{% endif %}>Sprott E</a>
  <a href="/pl/systemy/sprott-linz-f/"          {% if page.url == '/pl/systemy/sprott-linz-f/' %}class="active"{% endif %}>Sprott–Linz F</a>
  <a href="/pl/systemy/sprott-linz-k/"          {% if page.url == '/pl/systemy/sprott-linz-k/' %}class="active"{% endif %}>Sprott–Linz K</a>
  <a href="/pl/systemy/sprott-n/"               {% if page.url == '/pl/systemy/sprott-n/' %}class="active"{% endif %}>Sprott N</a>
  <a href="/pl/systemy/sprott-r/"               {% if page.url == '/pl/systemy/sprott-r/' %}class="active"{% endif %}>Sprott R</a>
  <a href="/pl/systemy/thomas/"                 {% if page.url == '/pl/systemy/thomas/' %}class="active"{% endif %}>Thomas</a>

</nav>
