---
layout: default
---


<div class="system-page">

  <section class="sys-title">
    <h1>{{ page.title }}</h1>
  </section>

  <main class="sys-content" markdown="1">
    <section class="sys-info">
      {{ content }}
    </section>
  </main>

</div>

<style>

.system-page {
  max-width: 56.25em;            /* ~900px @ 16px base */
  margin: 0 auto;
  padding: 0 1.2rem 3rem;
}

.sys-title h1 {
  font-family: "Courier New", monospace;
  text-align: left;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.3;
  margin: 1.5em 0 1.2em;
}

.sys-info {
  font-family: Georgia, serif;
  text-align: left;
  line-height: 1.6;
  margin: 1.2em 0 1.2em;
}
.sys-info p {
  font-size: 1em;
  margin: 0.6em 0;
  text-indent: 0;
}


.sys-sources {
  font-family: Georgia, serif;
  text-align: left;
  font-size: 0.95em;
  line-height: 1.4;
  margin: 1.2em 0 0;
}
.sys-sources p,
.sys-sources li { margin: 0.4em 0; }

.sys-sources .hanging-indent{
  display:block;
  max-width:min(72ch, 100%);
  margin-left:0;
  padding-left:3ch;
  text-indent:-3ch;
}


@media (max-width: 480px){
  .sys-title h1 { font-size: 1.0em; }
  .sys-equations { font-size: 0.9em; }
  .sys-video .video-frame { max-width: 100%; }
}
</style>
